{% extends "base.html" %}

{% load static %}
{% load highlight %}

{% block title %}Timeline{% endblock %}

{% block body %}
    <!-- button to change the mode -->
    <div style="margin: 20px;">
        <form action="/sn/html/toggle_community_mode" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">
                {% if request.session.community_mode %}
                    Switch to Normal Mode
                {% else %}
                    Switch to Community Mode
                {% endif %}
            </button>
        </form>
    </div>
    <!-- button to show bullshitters -->
    <div style="margin: 20px;">
    <a href="{% url 'sn:bullshitters' %}" class="btn btn-primary">  <! -- a is a link made into a form of a button-->
        {% if request.session.bullshitters_mode %} <! -- if bullshitters mode is active-->
            Hide Bullshitters
        {% else %}
            Show Bullshitters
        {% endif %}
    </a>
    </div>

        <!-- button to show similar_users -->
    <div style="margin: 20px;">
    <a href="{% url 'sn:similar_users' %}" class="btn btn-primary">  <! -- a is a link made into a form of a button-->
        {% if request.session.similar_users_mode %} <! -- if similar_users mode is active-->
            Hide similar_users
        {% else %}
            Show similar_users
        {% endif %}
    </a>
    </div>

    <br>
    <div class="card"
         style="margin-bottom: 20px; border-color: white; width: 300px; margin-left: auto; margin-right: 40px;">
        <form action="/sn/html/timeline" method="get">
            <div class="flex-container">
                <input type="text" name="search" placeholder={{ searchkeyword }}>
                <button type="submit" class="btn btn-secondary">Search</button>
            </div>
        </form>
    </div>
    <br>
    <div class="card" style="margin-bottom: 20px; margin-left: 40px; margin-right: 40px;">
        <form action="/sn/api/posts" method="post">
            {% csrf_token %}
            <textarea class="form-control" rows="5" name="text"></textarea>
            <button type="submit" class="btn btn-secondary">Post</button>
        </form>
    </div>
    <br>
    <br>
    <h3 style="margin-left: 40px">Timeline</h3>
     <br>


    <!-- Showing similar_users -->
    {% if request.session.similar_users_mode %}  <! -- look at request and check if similar_users_mode is true or false -->
  {% for users in similar_users.items %}  <! -- iterating over similar_users using .items to directly map keys and values -->
    <ul>
      {% for entry in users %}  <! -- iterating over bullshitters in that area -->
        <li>
          {{ entry.user}} <! -- displaying bullshitters' username. firstname and lastname -->
        <br>
        </li>
      {% endfor %}
    </ul>
  {% empty %}
    <p>No similar_users found.</p>    <! -- info display if no bullshitters exist in some particular area -->
  {% endfor %}
{% endif %}

    <!-- Showing bullshitters -->
    {% if request.session.bullshitters_mode %}  <! -- look at request and check if bullshitters_mode is true or false -->
  {% for area, bullshitters_in_area in bullshitters.items %}  <! -- iterating over bullshitters using .items to directly map keys and values -->
    <h3>{{ area.label }}</h3>  <! -- heading of the display is area -->
    <ul>
      {% for entry in bullshitters_in_area %}  <! -- iterating over bullshitters in that area -->
        <li>
          {{ entry.user.username }} - {{ entry.user.first_name }} {{ entry.user.last_name }} <! -- displaying bullshitters' username. firstname and lastname -->
        <br>
        </li>
      {% endfor %}
    </ul>
  {% empty %}
    <p>No bullshitters found.</p>    <! -- info display if no bullshitters exist in some particular area -->
  {% endfor %}
{% endif %}


    <!-- Part that is only for community mode -->
    {% if request.session.community_mode %}
        <!-- Button to leave a community -->
    <h5 style="margin-left: 40px">My communities:</h5>

    {% for community in communities_joined %}
    <form action="/sn/html/leave_community" method="post" style="display: inline;"> <!-- inline - in the same line -->
        {% csrf_token %}
        <input type="hidden" name="community" value="{{ community }}">
        <div class="d-flex align-items-center mb-2">
            <button type="submit" class="btn btn-secondary me-2" style="background-color:red; margin-left: 40px">Leave</button>
            <span>{{ community }}</span>
        </div>
    </form>
    {% endfor %}

    <!-- Button to join a community -->
    <br>

    <h5 style="margin-left: 40px">Communities I can join:</h5>

    {% for community in available_communities_not_joined %}
    <form action="/sn/html/join_community" method="post" style="display: inline;"> <!-- inline - in the same line -->
        {% csrf_token %}
        <input type="hidden" name="community" value="{{ community }}">
        <div class="d-flex align-items-center mb-2">
            <button type="submit" class="btn btn-secondary me-2" style="background-color:green; margin-left: 40px">Join</button>
            <span>{{ community }}</span>
        </div>
    </form>
    {% endfor %}
    <br>
    {% endif %}


    {% for post in posts %}
        <div class="card"
             style="margin-bottom: 20px; margin-left: 40px; margin-right: 40px; background-color: {% if post.published %}white{% else %}mistyrose{% endif %};">
            <div class="flex-container">
                <b><a href="/fame/html/fame?userid={{ post.author.id }}">{{ post.author.name|highlight:searchkeyword }}
                </b></a>&nbsp;
                <span style="color:gray">{{ post.author.email|highlight:searchkeyword }}</span>&nbsp;&nbsp;
                <span style="color:gray">{{ post.date_submitted }}</span>
                {% if not post.published %}
                    <span style="color:red">&nbsp;[not published, only visible for you]</span>
                {% endif %}
                {% if post.published and post.author.id == request.user.id %}
                    <span style="color:green">&nbsp;[published, visible for everybody]</span>
                {% endif %}
            </div>&nbsp;<br>
            <p>{{ post.content|highlight:searchkeyword }}</p>

            <div class="flex-container">
                {% for key,value in post.expertise_area_and_truth_ratings.items %}
                    {% if value.numeric_value < 0 %}
                        <div class="bullshit"><b>{{ key }}</b>: {{ value.name }}</div>
                    {% elif value.numeric_value > 0 %}
                        <div class="ok"><b>{{ key }}</b>: {{ value.name }}</div>
                    {% else %}
                        <div class="neutral"><b>{{ key }}</b>: {{ value.name }}</div>
                    {% endif %}
                {% endfor %}<br>
            </div>
            <div class="flex-container">
                <div><i class="fa-regular fa-comment" style="color:gray;"></i> {{ post.citations }}</div>
                <div><i class="fa-solid fa-retweet" style="color:gray;"></i> {{ post.replies }}</div>
                {% for key,value in post.user_ratings.items %}
                    {% if key == "A" %}
                        <div><i class="fa-solid fa-thumbs-up" style="color:blue;"></i>&nbsp;{{ value }}</div>
                    {% elif key == "L" %}
                        <div><i class="fa-solid fa-heart" style="color:green;"></i>&nbsp;{{ value }}</div>
                    {% elif key == "D" %}
                        <div><i class="fa-solid fa-thumbs-down" style="color:red;"></i> {{ value }}</div>
                    {% endif %}
                {% endfor %}
                <div><i class="fa-solid fa-chart-simple" style="color:gray;"></i> 0</div>
            </div>
        </div>
    {% endfor %}
    <br><br>

{% endblock %}
